body{
	padding: 0;
	margin: 0;
	font-family: 'Tenor Sans', sans-serif;
	text-align: center;
	background-image: linear-gradient(to right, #ff0000 , #00ff00);
}

h2{
	border: 2px solid #bfbfbf;
	background-color: #bfbfbf;
	border-radius: 30px; 
	width: 50%; 
	padding: 10px;
	margin: 5vh auto;
}

h3{
	border: 2px solid #bfbfbf;
	background-color: #bfbfbf;
	border-radius: 30px; 
	width: 30%; 
	padding: 10px;
	margin: 5vh auto;	
}

input{
	margin: 0px 5px ; 
}

label{
	font-weight: bold;
}

select{
	padding: 5px;
	font-size: 12px;
	border-radius: 10px;
	margin: 0px 5px ; 
}
